@font-face {
   font-family: "Bradley Hand ITC";
   src: url("fonts/Bradley Hand ITC.woff") format("woff"), url("fonts/Bradley Hand ITC.eot") format("embedded-opentype"), url("fonts/Bradley Hand ITC.TTF") format("truetype"), url("fonts/Bradley Hand ITC.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}